.answer.multiple .label {
  font-weight: bold;
  display: inline-block;
}

.answer.multiple .description {
  size: 0.8em;
}

.answer.regular.dropdown {
  margin-top: 0px;
}

.answer .description p,
.result .description p {
  margin: 0;
}

.question .description p {
  margin: 0;
}